<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/styles.css" />
  <link rel="stylesheet" href="css/navbar.css" />
</head>

<body>
  <p class="return" onclick="nav_return()">↪</p>
  <nav id="nav-bar">
    <p class="hide" onclick="nav_hide()">↩</p>
    <h2>About Us</h2>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <h2>Teams</h2>
    <li><a href="/summer-2024">Summer 2024</a></li>
    <h2>Join Us</h2>
    <li><a href="/interview">Interview</a></li>
    <img src="images/hackmann com.png" width="200" height="200">
  </nav>

  <script src="scripts/navbar.js"></script>

</body>
</html>