<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About</title>
  <link rel="icon" type="image/png" sizes="32x32" href="images/hackfavicon.png">
  <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
  <div id="flex-container">
    <div><%- include('partials/navbar'); %></div>
    <div id="content">
      <h1>About Page</h1>


      <h3>
        John Morrow Hackmann Esquire
      </h3>
      <p>
        &nbsp John Hackmann is a career lawyer who has worked in many areas and spent time
        with many varying kinds of people. He has connections to many people in all kinds of
        fields and has leveraged this in order to construct an internship for up and coming'
        new workers in tech.
      </p>
      <a href="https://www.linkedin.com/in/jhackmann/" target="_blank">Linkedin Page</a>
    </div>
</body>

</html>