<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About</title>
  <link rel="icon" type="image/png" sizes="32x32" href="images/hackfavicon.png">
  <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
  <div id="flex-container">
    <div><%- include('partials/navbar'); %></div>
    <div id="content">
      <h1>About Page</h1>


      <h3>
        John Morrow Hackmann Esquire
      </h3>
      <p>
        
        John Hackmann is a career lawyer who has worked in many areas and spent time
        with many varying kinds of people. He has connections in all kinds of
        fields and has leveraged this in order to construct an internship for up and coming'
        new workers in tech. Hackmann started as a student in architecture before moving on to study advanced computation
        at the University of Illinois in energy related research. He then went on to study law at Stanford's law school
        and worked as a consulting Assistant professor before working at his legal practice for the last 42 years. <img src="images/hack.png" width="300" height="400" class="profile-pic">
      </p>
      
      <a href="https://www.linkedin.com/in/jhackmann/" target="_blank">Linkedin Page</a>
    </div>
    <div><%- include('partials/footer'); %></div>
</body>

</html>