<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="icon" type="image/png" sizes="32x32" href="images/hackfavicon.png">
  <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <div id="flex-container">
      <div id="navigator"><%- include('partials/navbar'); %></div>
      <div id="content">
        <h1>404 Error. Page not found.</h1>
      </div>
    </div>
  </div>
  <div><%- include('partials/footer'); %></div>
</body>

</html>