<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="icon" type="image/png" sizes="32x32" href="images/hackfavicon.png">
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <div id="flex-container">
      <div><%- include('partials/navbar'); %></div>
      <div id="content">
        <h1>Hackmann Interns</h1>
        <img src="images/banner.png" width="518px" height="250px">
        <p>
          The Hackmann Interns aim to connect new students working in tech with projects
          to allow them to make connections and develop skills in industry especially when
          unable to find other opportunities
          
        </p>
      </div>
    </div>
</body>

</html>