<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="icon" type="image/png" sizes="32x32" href="images/hackfavicon.png">
  <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <div id="flex-container">
      <div id="navigator"><%- include('partials/navbar'); %></div>
      <div id="content">
        <img src="images/banner.png" width="600" height="200">
        <h1><%= 'Hackmann Interns' %></h1>
        <p>
          The Hackmann interns aim to connect new students working in tech with projects
          to allow them to make connections and develop skills in industry through access to meaningful connections inside and outside of the industry.
          
        </p>
      </div>
    </div>
  </div>
  <div><%- include('partials/footer'); %></div>
</body>

</html>