<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My EJS File</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <div id="flex-container">
      <div><%- include('partials/navbar'); %></div>
      <div id="content">
        <img src="images/hackmann com.png" width="200" height="200" justify-content="center"> 
        <h1><%= message %></h1>
      </div>
    </div>
  </body>
</html>
