<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Interview</title>
  <link rel="icon" type="image/png" sizes="32x32" href="images/hackfavicon.png">
  <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
  <div id="flex-container">
    <div><%- include('partials/navbar'); %></div>
    <div id="content">
      <h1>Get An Interview</h1>

      <h3>
        How to apply
      </h3>
      <p>
        Write something about why you want to work with this any required accomodations and your primary areas of
        interest.
        Send this with your resume attached in an email to
        <a href="mailto:hackmanninterns@gmail.com" target="_blank">hackmanninterns@gmail.com</a>.
      </p>

    </div>
  </div>
</body>

</html>