<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Summer 2024</title>
  <link rel="icon" type="image/png" sizes="32x32" href="images/hackfavicon.png">
  <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
  <div id="flex-container">
    <div><%- include('partials/navbar'); %></div>
    <div id="content">
      <h1>Team of Summer 2024</h1>
      <% if (q == "THEBIGHACK") { %>
        <p>Hidden unless requested</p>
        <% } %>
          <h3>
            The team this summer
          </h3>
          <p>
            The team of 2024 was the first of the hackmann interns organized by
            John Hackmann and Whitney consisting of Alex Reynen Jared Castillo and
            John Whitney. These encountered expected start up difficulties but completed
            projects including creation of a library database for book storage and the '
            creation of this website for two.
          </p>
          <p>
            This was largely defined by change and working with a large number of people
            while fielding various projects and developing the skills necessary for them
          </p>


          <span>•</span>
          <a href="https://bdb.reynen.xyz/library" target="_blank">Library database</a>
    </div>
  </div>
</body>

</html>