<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Summer 2024</title>
  <link rel="icon" type="image/png" sizes="32x32" href="images/hackfavicon.png">
  <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
  <div id="flex-container">
    <div><%- include('partials/navbar'); %></div>
    <div id="content">
      <h1>
        <%= 'Team of Summer 2024' %>
      </h1>

      <h3>
        The team this summer
      </h3>
      <p>
        Random copy more stuff and other things who who who who who
      </p>
      <li><a href="https://bdb.reynen.xyz/library" target="_blank">Library database</a></li>
    </div>
  </div>
</body>

</html>