#nav-bar {
  list-style-type: none;
  background-color: #3d77b0;
  padding: 10px;
  padding-bottom: 0px;
  width: 230px;
  height: 100vh;
  border-width: 0px;
  border-right-width: 10px;
  border-style: solid;
  border-color: #203e5b;
  box-sizing: border-box;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#nav-bar h2 {
  color: gainsboro;
}

.return {
  display: none;
  position: absolute;
}

#nav-bar p {
  text-align: right;
  font-size: larger;
  float: right;
}

#nav-bar a {
  padding-left: 10px;
  font-size: 20px;
}

#nav-bar a:link {
  color:  rgb(255, 126, 20);
}

#nav-bar a:visited {
  color: #0d1e7e;
}


#links {
  margin-bottom: 220px;
}

#nav-bar img {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #3d77b0;
}

.return,
.hide {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: white;
  background-color: #02060c;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  opacity: 0.5;
}

@media (min-width: 768px) {
  .return,
  .hide {
    display: none;
  }
}
