#nav-bar {
  list-style-type: none;
  background-color: #3d77b0;
  padding: 10px;
  width: 200px;
  height: 100vh;
  border-width: 0px;
  border-right-width: 10px;
  border-style: solid;
  border-color: #203e5b;
}

#nav-bar h2 {
  color: gainsboro;
}

.return {
  display: none;
  position: absolute;
}

#nav-bar p {
  text-align: right;
  font-size: larger;
  float: right;
}

#nav-bar a {
  /* color: gainsboro; */
  padding-left: 10px;
}

#nav-bar img {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
}

.return,
.hide {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: white;
  background-color: #02060c;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

@media (min-width: 768px) {
  #nav-bar > p {
    display: none;
  }
}
