/*  openBaSeD.css */

#grid-container {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 10vw auto;
    gap: 10px;
    
}

#nav-bar {
    list-style-type: none;
    background-color: #5f98da;
    padding: 5px ;
}

#home {
    background-color: #112131;
    color:white;
    text-align: center;
    font-size: 30px;
  }
