/*  openBaSeD.css */

#flex-container {
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  /* overflow: hidden; */
}

#content {
  color: gainsboro;
  text-align: center;
  font-size: 30px;
  flex: 1; /* Allows #content to take up the remaining space */
  margin-left: 230px; /* Offset for the fixed navbar */
  overflow: auto; /* Enable scrolling if content is too large */
}

@media (max-width: 768px) {
  #content {
    margin-left: 0px;
  }
}

#content p {
  text-align: left;
}

#content a {
  color: orange;
}

body {
  background-color: #112131;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#banner {
  width: 600; 
  height: 200;
}

@media (max-width: 768px) {
  #banner {
    width: 60%;
    height: 20%
  }
}